<div class="pull-left padding-show-buttom">
  <%=link_to "#", :"data-toggle"=>"offcanvas", :"data-target"=>"#myNavmenu", :"data-canvas"=>"body" do%>
    <span class="glyphicon glyphicon-align-justify black"></span>
  <%end%>
</div>
<div class="pull-left">
  <div class="form-control-wrapper">
    <input type='text' name="search" class="form-control empty" placeholder="Buscar" />
  </div>
</div>
<div class="pull-left padding-show-buttom">
  <%=link_to "#" do%>
    <span class="glyphicon glyphicon-search grey"></span>
  <%end%>
</div>
<div class="pull-left divider">
  |
</div>
<div class="pull-left padding-show-buttom">
  <%=link_to "#" do%>
    <span class="glyphicon glyphicon-th-large navy-blue"></span>
  <%end%>          
</div>
<div class="pull-left padding-show-buttom">
  <%=link_to "#" do%>
    <span class="glyphicon glyphicon-map-marker navy-blue"></span>
  <%end%>          
</div>
<div class="pull-left padding-show-buttom">
  <%=link_to "#", class: "navy-blue" do%>
    Satelital
  <%end%>          
</div>