<% title 'Añadir gastos para mantener ' + @listing.name %>
<% content_for :sidebar do %>
  <%= render :partial => 'partials/listing/sidebar'  %>
<% end %>
<%= render :partial => 'partials/shared/header' %>
<div class="listing__details-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Gastos de mantenimiento en <%= @listing.name %></h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Cantidad</th>
              <th>Descripción</th>
              <th>Fecha del Gasto</th>
            </tr>
          </thead>
          <tbody>
            <% @money.each do |money| %>
              <tr>
                <td><%= money.amount %></td>
                <td><%= money.description %></td>
                <td><%= I18n.l money.spent_date, :format => :short %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer text-center">
      <%= link_to "Añadir gastos", listing_new_dinero_path(:listing_id => @listing.id), :class => 'btn btn-primary' %>
    </div>
  </div>
</div>

<% content_for :footer do %>
<% end %>