<% title 'Fotos de ' + @listing.name %>
<% content_for :sidebar do %>
  <%= render :partial => 'partials/listing/sidebar'  %>
<% end %>
<%= render :partial => 'partials/shared/header' %>
<div class="listing__details-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Fotos de <%= @listing.name %></h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>id</th>
              <th>Foto</th>
            </tr>
          </thead>
          <tbody>
            <% for image in @listing.images %>
            <tr class="mix">
              <td><%= image.id %></td>
              <td>
                <%= link_to image.image_url, target: "_blank", class: 'img-thumbnail img_wrapper gal_lightbox' do %>
                  <%= image_tag(image.image.url(:thumb), :class => "img-responsive") %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer text-center">
      <%= link_to "Añadir nueva foto", listing_new_image_path(:listing_id => @listing.id), :class => 'btn btn-primary' %>
    </div>
  </div>
</div>