<% title 'Añadir gastos' %>
<% content_for :sidebar do %>
  <%= render :partial => 'partials/listing/sidebar'  %>
<% end %>
<%= render :partial => 'partials/shared/header' %>
<div class="listing__details-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Añadir nueva foto para <%= @listing.name %></h3>
    </div>
    <div class="panel-body">
      <%= form_for @money, :url => listing_save_dinero_path do |f| %>
        <%= f.error_messages %>
        <%= f.hidden_field :listing_id %>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%= f.label :amount, "Cantidad" %>
              <%= f.text_field :amount, :class => 'form-control', :placeholder => 'Sólo números permitidos! Por favor, no agregue el signo de la moneda.' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.label :spent_date, "Fecha del gasto" %>
            <div class="form-group">
              <%= f.datetime_select :spent_date, :class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%= f.label :description, "Descripción" %>
              <%= f.text_area :description, :class => 'form-control', :rows => 6, :placeholder => 'Describe al público en que gastas esta cantidad?' %>
            </div>
          </div>
        </div>
        <p><%= f.submit "Agregar Gasto", :class => 'btn btn-primary' %></p>
      <% end %>
    </div>
  </div>
</div>