<section class="container clearfix main_section">
  <div id="main_content_outer" class="clearfix">
    <div id="main_content">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">un nuevo adoptante agregado</h4>
            </div>
            <div class="panel-body">
              <div class="alert alert-success"><%= notice %></div>
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-lg-2 control-label">User</label>
                  <div class="col-lg-10">
                    <p class="form-control-static"><%= @adopter.user_id %></p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">Url</label>
                  <div class="col-lg-10">
                    <p class="form-control-static"><%= @adopter.url %></p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">&nbsp;</label>
                  <%= link_to 'Edit', edit_admin_adopter_path(@adopter), { class: 'btn btn-default' } %>
                  <%= link_to 'Back', admin_adopters_path, { class: 'btn btn-default' } %>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>