<div class="container">

  <div class="col-md-12 text-center title-bar-blue">
    <h3>
      Municipios
    </h3>
  </div>

  <table class="table datatable display responsive no-wrap">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Subdominio</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @accounts.each do |account| %>
        <tr>
          <td><%= account.name %></td>
          <td><%= account.subdomain %></td>
          <td>
            <%= link_to 'Editar', edit_super_admin_account_path(account) %>
            <%= link_to 'Borrar', super_admin_account_path(account), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="col-md-12 text-right ">
    <%= link_to 'NUEVO', new_super_admin_account_path, class: "btn btn-primary" %>
  </div>  
</div>
