<% title "Calendario de Eventos" %>
<% content_for :head do %>
  <%= stylesheet_link_tag "eventos" %>
  <script type="text/javascript">
    var publicSpaces =  <%= @publicSpaces.to_json.html_safe %>;
    var allEvents = <%= @events.to_json.html_safe %>;
  </script>
<% end %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=442503135786308";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<% content_for :sidebar do %>
  <%= render :partial => 'partials/listing/sidebar'  %>
<% end %>
<%= render :partial => 'partials/shared/header' %>
<div class="documents_container">
  <div class="page-header">
    <h1>Calendario <small>de Eventos</small></h1>
  </div>
  <div id="calendar"></div>
</div>
<% content_for :footer do %>
  <%= javascript_include_tag :eventos %>
<% end %>
